.input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input-container input {
  padding: 0.4rem 1rem;
  width: 100%;
}

.input-container button {
  padding: 0.4rem 1rem;
}

.search-results {
  background-color: white;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
}

.search-result {
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.search-result:hover {
  background-color: #efefef;
}

.search-result {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-result .city-location {
  margin-left: auto;
  color: #ccc;
}