.app {
  width: 600px;
  margin-inline: auto;
  margin-block: 2rem;
}

.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-container input {
  padding: 0.5rem 1rem;
  width: 100%;
}

.search-container button {
  padding: 0.5rem 1rem;
}