.app {
  width: 600px;
  margin-inline: auto;
  margin-block: 2rem;
}

.app h1 {
  margin-block: 1rem;
}

body {
  background-color: #efefef;
  color: #333;
}

.card-container {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.search-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
}

.search-container input::placeholder {
  color: #999;
}

.search-container button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: lightseagreen;
  border: 1px solid lightseagreen;
  color: white;
  border-radius: 4px;
}

.candidates {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul.candidates li {
  list-style: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

ul.candidates li:hover {
  background-color: #eee;
}